/* Comman CSS */

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

*:after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	font-size: 1em;
	font-family: 'Fira Sans', sans-serif;
}

header {
	position: fixed;
	background: #000;
	font-weight: bold;
	color: #fff;
	overflow: visible;
	width: 100%;
	z-index: 100;
	top: 0px;
	text-align: center;
	-webkit-transition: top 0.3s ease;
	-moz-transition: top 0.3s ease;
	-ms-transition: top 0.3s ease;
	-o-transition: top 0.3s ease;
	transition: top 0.3s ease;
}

.italics {
	font-style: italic;
}

.bold {
	font-weight: 700;
}

/* Header */

.user {
	width: 100%;
	line-height: 4em;
	color: #e6e6e6;
	-moz-transition: top 0.3s ease;
	-webkit-transition: top 0.3s ease;
}

.user-tiny {
	line-height: 2em;
	transition: top 0.5s ease;
	-webkit-transition: top 0.5s ease;
}

.user img {
	vertical-align: middle;
	border-radius: 50%;
	margin-right: 0.5em;
	background: #e6e6e6;
}

/* Content */

.main-content {
	position: relative;
	min-height: 15em;
	padding-top: 4em;
}

.section-block {
	position: relative;
	width: 100%;
	/*min-height: 500px;*/
	padding: 50px 0 50px 0;
	text-align: center;
}

.section-block h2 {
	margin-top: -25px;
}

/* Landing section */

#landing {
	background-color: #f2f2f2;
	color: #333;
}

#landing:after {
	content: "";
	position: absolute;
	display: block;
	bottom: -48px;
	border: 24px solid transparent;
	border-top-color: #f2f2f2;
	width: 24px;
	height: 24px;
	left: 50%;
	margin-left: -24px;
	z-index: 1;
}

/* About section */

#about {
	background-color: #bababa;
	color: #f2f2f2;
}

#about figure {
	margin: auto;
	display: block;
	position: relative;
	width: 150px;
	padding: 20px 0 20px 0;
}

#about figure img {
	border-radius: 50%;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
}

#about p {
	margin: auto;
	width: 900px;
	font-size: 1.2em;
	padding: 20px 0 20px 0;
}

#about .circle-container {
	width: 900px;
	margin: auto;
	padding-top: 20px;
}

.circle-container .circle {
	width: 100px;
	height: 100px;
	background: #f2f2f2;
	border-radius: 50%;
	display: inline-block;
	margin: 0 20px 0 20px;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
}

#about:after {
	content: "";
	position: absolute;
	display: block;
	bottom: -48px;
	border: 24px solid transparent;
	border-top-color: #bababa;
	width: 24px;
	height: 24px;
	left: 50%;
	margin-left: -24px;
	z-index: 1;	
}

/* Principle section */

#principle {
	background-color: #333;
	color: #f2f2f2;
	height: 400px;
}

#principle figure {
	padding-top: 20px;
}

#principle figure .circle {
	width: 150px;
	height: 150px;
	z-index: 50;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-45%);
	-moz-transform: translate(-50%,-45%);
	box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
}

#principle .circle #topLeftTraingle {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 24px solid #f2f2f2;
	border-right: 24px solid transparent;
}

#principle .circle #topRightTraingle {
	position: absolute;
	width: 0;
	height: 0;
	right: 0;
	border-top: 24px solid #f2f2f2;
	border-left: 24px solid transparent;
}

#principle .circle #bottomLeftTraingle {
	position: absolute;
	width: 0;
	height: 0;
	bottom: 0;
	border-bottom: 24px solid #f2f2f2;
	border-right: 24px solid transparent;
}

#principle .circle #bottomRightTraingle {
	position: absolute;
	width: 0;
	height: 0;
	bottom: 0;
	right: 0;
	border-bottom: 24px solid #f2f2f2;
	border-left: 24px solid transparent;
}

#principle .circle #bottomCenterTraingle {
	position: absolute;
	width: 0;
	height: 0;
	bottom: 0;
	left: 50%;
	border-left: 24px solid transparent;
	border-right: 24px solid transparent;
	border-top: 24px solid #f2f2f2;
}

#principle figure h2 {
	margin-top: 50%;
	transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
}

#principle figure p {
	font-size: 1.2em;
}

#principle figure #topLeft {
	position: absolute;
	top: 20%;
	left: 35%;
	transform: translate(-35%, -20%);
	-webkit-transform: translate(-35%, -20%);
	z-index: 50; 
}

#principle figure #topRight {
	position: absolute;
	top: 20%;
	right: 35%;
	transform: translate(65%, -20%);
	-webkit-transform: translate(65%, -20%);
	z-index: 50;	
}

#principle figure #bottomLeft {
	position: absolute;
	bottom: 30%;
	left: 35%;
	transform: translate(-35%, 75%);
	-webkit-transform: translate(-35%, 70%);
	z-index: 50;	
}

#principle figure #bottomRight {
	position: absolute;
	bottom: 30%;
	right: 35%;
	transform: translate(65%, 75%);
	-webkit-transform: translate(65%, 70%);
	z-index: 50;	
}

#principle figure #bottomCenter {
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translate(-50%, 80%);
	-webkit-transform: translate(-50%, 80%);
	z-index: 50;	
}

#principle:after {
	content: "";
	position: absolute;
	display: block;
	bottom: -48px;
	border: 24px solid transparent;
	border-top-color: #333;
	width: 24px;
	height: 24px;
	left: 50%;
	margin-left: -24px;
	z-index: 1;	
}

/* Work Section */

#work {
	padding: 0;
	color: #f2f2f2;
	height: 600px;
}

#work h2 {
	margin: 0 auto;
}

#work #freelance {
	background-color: #939393;	
}

#work .sub-section-content {
	-webkit-transform: translate(0,50%);
}

#work .sub-section-content p {
	font-size: 1.2em;
}

#work .sub-section-content #what {
	font-size: 0.9em;
	font-style: italic;
}

#work #freelance:after {
	content: "";
	position: absolute;
	display: block;
	bottom: -24px;
	border: 24px solid transparent;
	border-right-color: #939393;
	right: 0;
	width: 24px;
	height: 24px;
	z-index: 1;
}

#work #projects {
	background-color: #bababa;
}

#work #projects:after {
	content: "";
	position: absolute;
	display: block;
	bottom: -24px;
	border: 24px solid transparent;
	border-left-color: #bababa;
	left: 0;
	width: 24px;
	height: 24px;
	z-index: 1;
}

#work .circle {
	width: 150px;
	height: 150px;
	background: #f2f2f2;
	z-index: 50;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
}

#work .circle h2 {
	color: #333;
	margin-top: 50%;
	transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
}

.half {
	height: 100%;
	min-height: 500px;
	position: relative;
	float: left;
	width: 50%;
}

/* Experience */

#experience {
	background-color: #f2f2f2;
	color: #333;
}

#experience .circle-container .row {
	padding-bottom: 20px;
}

#experience .circle-container .row-content {
	display: inline-block;
	text-align: center;	
}

#experience .row-content .circle {
	width: 80px;
	height: 80px;
	background: #f2f2f2;
	border-radius: 50%;
	margin: 0 50px 0px 50px;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
}

#experience .row-content p {
	margin: 0 auto;
}

#experience .circle-container {
	width: 900px;
	margin: auto;
	padding-top: 20px;
}

#experience:after {
	content: "";
	position: absolute;
	display: block;
	bottom: -48px;
	border: 24px solid transparent;
	border-top-color: #f2f2f2;
	width: 24px;
	height: 24px;
	left: 50%;
	margin-left: -24px;
	z-index: 1;	
}

/* Contact  */

#contact {
	background-color: #fff;
	color: #333;
}

/* Footer */

footer {
	background: #000;
	color: #939393;
	font-weight: normal;
	position: relative;
	width: 100%;
}

.footer-content {
	line-height: 3em;
	width: 100%;
	font-size: 13px;
	padding-left: 5px;
}

footer .color-scheme {
	position: absolute;
	right: 10px;
	top: 50%;
	-webkit-transform: translate(0,-50%);
}

.color-scheme .circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 5px 0 5px;
}

.color-scheme #circle1 {
	background: #f2f2f2;
}

.color-scheme #circle2 {
	background: #bababa;
}

.color-scheme #circle3 {
	background: #333;
}

.color-scheme #circle4 {
	background: #939393;
}

.color-scheme #circle5 {
	background: #fff;
}

/* End of css */