html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-size: 1em;
	font-family: 'Fira Sans', sans-serif;
}

header{
	position: relative;
	background: #000;
	font-weight: normal;
	color: #fff;
	overflow: visible;
	width: 100%;
	z-index: 100;
	top: 0px;
	-webkit-transition: top 0.3s ease;
	-moz-transition: top 0.3s ease;
	-ms-transition: top 0.3s ease;
	-o-transition: top 0.3s ease;
	transition: top 0.3s ease;
}

.user{
	width: 100%;
	line-height: 3em;
}

.user img{
	vertical-align: middle;
	border-radius: 50%;
	margin-right: 0.5em;
	background: #e6e6e6;
}

.user p{
	text-align: left;
}