html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-size: 1em;
	font-family: 'Fira Sans', sans-serif;
}

header{
	position: relative;
	background: #000;
	font-weight: normal;
	color: #fff;
	overflow: visible;
	width: 100%;
	z-index: 100;
	top: 0px;
	-webkit-transition: top 0.3s ease;
	-moz-transition: top 0.3s ease;
	-ms-transition: top 0.3s ease;
	-o-transition: top 0.3s ease;
	transition: top 0.3s ease;
}

.user{
	width: 100%;
	line-height: 2em;
}

.user img{
	vertical-align: middle;
	border-radius: 50%;
	margin-right: 0.5em;
	background: #e6e6e6;
}

.user p{
	text-align: left;
	display: inline-block;
}

.main-content{
	position: relative;
	min-height: 15em;
}

.section-block{
	position: relative;
	width: 100%;
	min-height: 500px;
	padding: 50px;
}

#landing{
	background-color: #f2f2f2;
	color: #333;
}

#about{
	background-color: #bababa;
	color: #f2f2f2;
}

#principle{
	background-color: #333;
	color: #f2f2f2;
}

#work{
	padding: 0;
	color: #f2f2f2;
}

#work #freelance{
	background-color: #939393;	
}

#work #projects{
	background-color: #bababa;
}

.half{
	height: 100%;
	min-height: 500px;
	padding: 50px 50px 24px 50px;
	position: relative;
	float: left;
	width: 50%;
}
#experience{
	background-color: #f2f2f2;
	color: #333;
}

#contact{
	background-color: #fff;
	color: #333;
}