html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-size: 1em;
	font-family: 'Fira Sans', sans-serif;
}

header{
	position: relative;
	background: #000;
	font-weight: normal;
	color: #fff;
	overflow: visible;
	width: 100%;
	z-index: 100;
	top: 0px;
	-webkit-transition: top 0.3s ease;
	-moz-transition: top 0.3s ease;
	-ms-transition: top 0.3s ease;
	-o-transition: top 0.3s ease;
	transition: top 0.3s ease;
}

.user{
	width: 100%;
	line-height: 2em;
}

.user img{
	vertical-align: middle;
	border-radius: 50%;
	margin-right: 0.5em;
	background: #e6e6e6;
}

.user p{
	text-align: left;
	display: inline-block;
}

.main-content{
	position: relative;
	min-height: 15em;
}

.section-block{
	position: relative;
	width: 100%;
	min-height: 500px;
}

#landing{
	background-color: #f2f2f2;
	color: #333;
}

#landing:after{
	content: "";
	position: absolute;
	display: block;
	bottom: -48px;
	border: 24px solid transparent;
	border-top-color: #f2f2f2;
	width: 24px;
	height: 24px;
	left: 50%;
	margin-left: -24px;
	z-index: 1;
}

#about{
	background-color: #bababa;
	color: #f2f2f2;
}

#about:after{
	content: "";
	position: absolute;
	display: block;
	bottom: -48px;
	border: 24px solid transparent;
	border-top-color: #bababa;
	width: 24px;
	height: 24px;
	left: 50%;
	margin-left: -24px;
	z-index: 1;	
}

#principle{
	background-color: #333;
	color: #f2f2f2;
}

#principle:after{
	content: "";
	position: absolute;
	display: block;
	bottom: -48px;
	border: 24px solid transparent;
	border-top-color: #333;
	width: 24px;
	height: 24px;
	left: 50%;
	margin-left: -24px;
	z-index: 1;	
}

#work{
	padding: 0;
	color: #f2f2f2;
}

#work #freelance{
	background-color: #939393;	
}

#work #freelance:after{
	content: "";
	position: absolute;
	display: block;
	bottom: -24px;
	border: 24px solid transparent;
	border-right-color: #939393;
	right: 0;
	width: 24px;
	height: 24px;
	z-index: 1;
}

#work #projects{
	background-color: #bababa;
}

#work #projects:after{
	content: "";
	position: absolute;
	display: block;
	bottom: -24px;
	border: 24px solid transparent;
	border-left-color: #bababa;
	left: 0;
	width: 24px;
	height: 24px;
	z-index: 1;
}

.half{
	height: 100%;
	min-height: 500px;
	position: relative;
	float: left;
	width: 50%;
}

#experience{
	background-color: #f2f2f2;
	color: #333;
}

#experience:after{
	content: "";
	position: absolute;
	display: block;
	bottom: -48px;
	border: 24px solid transparent;
	border-top-color: #f2f2f2;
	width: 24px;
	height: 24px;
	left: 50%;
	margin-left: -24px;
	z-index: 1;	
}

#contact{
	background-color: #fff;
	color: #333;
}

footer{
	background: #000;
	color: #939393;
	padding: 4em 0;
	position: relative;
}
