html,body{
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	font-family: 'Droid Serif', serif;
}
.container{
	width: 100%;
	height: 100%;
}
.left-pane{
	width: 50%;
	height: 100%;
	background: #75cde5;
	display: inline;
  	position: relative;
  	float: left;
}
.right-pane{
	width: 50%;
	height: 100%;
	background: #b258a3;
	display: inline;
  	position: relative;
  	float: left;
}
.bball-title{
	position: absolute;
	top: 50%;
	font-size: 30px;
}
.footb-title{
	position: absolute;
	top: 50%;
	font-size: 30px;
}