* {
	margin: 0;
	padding: 0;
}

html{
	width: 100%;
    height: 100%;
}

body {
	width: 100%;
	height: 100%;
	position: relative;
}

a {
	text-decoration: none;
	cursor: pointer;
}

li {
	list-style: none;
}

*, *:after, *:before {
	box-sizing: border-box; 
}