@font-face {
    font-family: citrixFont;
    src: url(citrixsans-regular.woff);
}

html,body{
	height: 100%;
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}

body{
	font-family: citrixFont,"Helvetica Neue";
	font-size: 14px;
	color: #888;
}

table{
	border-collapse: collapse;
}

#container{
	width:100%;
	height:100%;
}

#header{
	background: #22ac82;
	width: 100%;
	height: 15%;
	position: relative;
}

#header img{
	position: absolute;
	margin: 0;
	bottom: 20%;
	left: 9%;
	/*transform: translate(0,-50%);*/
}

#header p{
	position: absolute;
	margin: 0;
	bottom: 20%;
	float: right;
	right: 9%;
	color: #fff;
}

#content{
	margin: 0 auto;
	width: 80%;
	height: 85%;
}

/* left-nav*/
#left-nav{
	position:relative;
	float: left;
	width: 25%; 
	height: 100%;
}

.active{
	color: #22ac82;
}

#menu{
	font-weight: bold;
	line-height: 3.5em;
}

a{
	text-decoration: none;
}

#menu a{
	color: inherit;
	/*color: #b3b3b3;*/
}

#menu a:hover{
	color: #22ac82;
}

/* Dashboard*/
#new_users,#members{
	margin-top: 5%;	
}

#licenses{
	margin-top: -5%;
}

#dashboard{
	position:relative;
	float: left;
	width: 75%;
	background: #f4f4f4;
	height: 100%;
}

#image{
	margin-left: 5%;
	margin-right: 5%;
}

.panel{
	position: relative;
	float: left;
	margin-left: 5%;
	background: #fcfcfc;
	width: 40%;
}

.panel hr{
	margin-top: -3%;
	margin-left: 5%;
	margin-right: 5%;
}

.panel p{
	margin-left: 5%;
	margin-right: 5%;
}

#big{
	font-size: 30px;
}

#huge{
	font-size: 40px;
	font-weight: bold;
}

#green{
	color: #22ac82;
}

/* Users */
#users{
	position:relative;
	float: left;
	width: 75%;
	background: #f4f4f4;
	height: 100%
}

#users #data p,input{
	margin-left: 5%;
}

#users #data table{
	width: 100%

}

tr{
	border-bottom: 1px solid #888;
	height: 5em;
}

tr:hover{
	background: #22ac82;
}

#check,#admin{
	width: 4%;
}

#name,#lastLogin{
	width: 31%;
}
#type,#number{
	width: 15%;
}

#userAction{
	background: white;
	margin: 10px 0 10px 0;
	width: 100%;
	height: 20%;
	display: inline-flex;
}

#userAction p{
	margin-left: 5%;
}

/* Settings */
#settings{
	position:relative;
	float: left;
	width: 75%;
	background: #f4f4f4;
	height: 100%
}
