.xaxis {
	fill : none;
	stroke-width : 2;
	stroke : green;
	shape-rendering: crispEdges;
	stroke-dasharray: 7.51, 7.51;
	marker-end: url(#triangle);
}

body {
  font: 10px sans-serif;
  margin: 0;
}

text{
	stroke-dasharray: none;
	color: black;
}