.main {
	width: 90%;
	margin: 0 auto;
	@include breakpoint(tablet) {
		width: 80%;
	}
}

.grid {
	position: relative;
	display: flex;
	flex-wrap: wrap;

	.grid-item {
		width: 100%;
		min-height: 300px;
		position: relative;
		@include breakpoint(desktop) {
			width: calc(100% / 3)
		}
	}
}

.grid-item::before {
	position: absolute;
    content: '';
    top: 0px;
    right: 55px;
    bottom: 0px;
    left: 55px;
	border: 1px solid rgba(74,74,74,0.075);
	transition: opacity 0.3s;
	@include breakpoint(desktop) {
		top: 5px;
		right: 5px;
		bottom: 5px;
		left: 5px;
	}
}

.grid-item:hover::before,
.grid-item:focus::before {
	border: 3px solid #bf9000;
}

