#work .grid {
	position: relative;
	display: flex;
	flex-wrap: wrap;

	.grid-item {
		width: 100%;
		min-height: 300px;
		position: relative;
		text-align: center;
		padding: 30px;
		border: 1px solid rgba(74,74,74,0.075);
		margin: 10px 0;
		padding: 0 15px;
		.preview {
			padding: 30px;
			color: black;
			.image {
				height: 200px;
				background-color: #f2f2f2;
			}
			.loader {
				height: 1px;
			    width: 40%;
			    margin: 1em auto;
			    position: relative;
			    background: rgba(0, 0, 0, 0.1);
			    //transition: transform 0.2s, opacity 0.2s;
	    		//transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
			}
		}
	}
	.grid-item:hover {
		border: 3px solid #bf9000;
	}
	.item-1 {
		width: 100%;
		@include breakpoint(tablet) {
			width: 50%;
		}
		@include breakpoint(desktop) {
			width: 40%;
		}
	}
	.item-2 {
		width: 100%;
		@include breakpoint(tablet) {
			width: 50%;
		}
		@include breakpoint(desktop) {
			width: 60%;
		}
	}
}