* { 
    margin: 0;
    padding: 0
}
body, html {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.6;
}
.container {
    background-color: #EDF1F5; 
}
header, footer {
    height: 75px;
    width: 100%;
    background-color: #fff;
}
header {
    border-bottom: 1px solid #E0E6ED;
    position: fixed;
    z-index: 10;
}
.header-content, .footer-content {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}
.content {
    /*margin-top: 75px;*/
    padding: 105px 60px 0 60px;
    display: flex;
    color: #000;
    flex-wrap: wrap;
    justify-content: space-between;
}
.chart {
    flex-basis: calc((100%/2) - 30px);
    height: 350px;
    background-color: #fff; 
    border-radius: 2px;
    border: 1px solid #E0E6ED;
    padding: 10px;
    margin-bottom: 15px;
    position: relative;
}
footer {
    border-top: 1px solid #E0E6ED;
    font-weight: 300;
}
h4 {
    border-bottom: 1px solid #B7BDC9;
}
.chartSection {
    height: 325px;
    width: 100%;
}
svg {
    position: relative;
}
.legend {
    font-weight: 300;
}
polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}
.footer-content p, .footer-content ul {
    display: inline-block;
    margin: 26.5px 0;
}
.footer-content ul {
    float: right;
}
.footer-content ul li {
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}
path.color0 {
    fill: #ff0000;
    stroke: #000;
    stroke-width: 0.2px;
}
path.color1 {
    fill: #fff;
    stroke: #000;
    stroke-width: 0.2px;
}
.dropdown {
    position: absolute;
    top: 5px;
    right: 10px;
}
select {
    font: 12px 'Montserrat', sans-serif !important;
}
label {
    font-weight: 300;
}
header ul {
    display: inline-block;
    line-height: 75px;
    top: -33px;
    position: relative;
    margin-left: 60px;
}
header li {
    display: inline-block;
    margin: 0 12px;
    list-style: none;
    font-size: 16px;
    font-weight: 700;
}
.chart-fullWidth {
    height: 350px;
    background-color: #fff; 
    border-radius: 2px;
    border: 1px solid #E0E6ED;
    padding: 10px;
    margin-bottom: 15px;
    position: relative;
    flex-basis: 100%;
}
.line {
    fill: none;
    stroke: #ff0000;
    stroke-width: 2px;
    shape-rendering: auto;
}
.x-axis, .y-axis {
    font: 10px 'Montserrat', sans-serif !important;
    font-weight: 300 !important;
}
.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #00ff00;
  stroke: #00ff00;
}

text {
    fill: #000;
}

.hover-line {
  stroke: #6F257F;
  stroke-width: 2px;
  stroke-dasharray: 3, 3;
}

circle {
    z-index: 10;
}

.poor, .low, .medium, .good, .great {
    stroke-width: 0.2px;
    stroke: #000;
}

.poor {
    fill: #ff0000;
}
.low {
    fill: #ff7f00;
}
.medium {
    fill: #ffff00;
}
.good {
    fill: #6FFF00;
}
.great {
    fill: #00ff00;
}