$font: 'Fira Sans', sans-serif;
$primary-color: #4b2e83;
$secondary-color: #000;
$tertiary-color: #fff;

body {
	font-size: 16px;
	font: 100% $font;
	color: $secondary-color;
	background-color: $tertiary-color;
}

.container {
	width: 100%;
	height: 100%;
}

.content {
	width: 100%;
	height: calc(100% - 65px - 3em);
	padding: 65px 0 3em 0;
}

header {
	width: 100%;
	height: 65px;
	background-color: $primary-color;
	position: fixed;
	top: 0px;
	color: $tertiary-color;
	z-index: 9999;
}

header {
	.top-bar {
		width: 80%;
		margin: 0 auto;
		height: 100%;
		.logo {
			cursor: pointer;
			img {
				position: relative;
				width: 50px;
				height: 50px;
				top: 50%;
				transform: translateY(-50%);
			}
			@include breakpoint(tablet) {
				position: absolute;
				height: 100%;
				width: 60px;
			}
		}
		nav {
			position: relative;
			text-align: center;
		    top: 50%;
		    transform: translateY(-50%);
			color: #fff;
			a {
				margin: 0 10px;

				@include breakpoint(tablet) {
					margin: 0 25px;
				}
			}

			@include breakpoint(tablet) {
				float: right;
			}
		}
	}
}

.section-block {
	width: 100%;
	height: 100%;
	text-align: center;
}

.section-content {
	position: relative;
	width: 95%;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);

	@include breakpoint(tablet) {
		width: 80%;
	}
}

footer {
	width: 100%;
	height: 10px;
	background-color: $primary-color;
	bottom: 0px;
	color: $tertiary-color;
	position: fixed;

	@include breakpoint(tablet) {
		height: 3em;
	}
}

.hide {
	display: none;
}

.active {
	color: #bf9000;
}

.italics {
	font-style: italic;
}

.bold {
	font-weight: 500;
}

.bolder {
	font-weight: 700;
}