@import 'reset';
@import 'comman';

header {
	.top-bar {
		width: 80%;
		margin: 0 auto;
		height: 100%;
		.logo {

		}
	}
	nav {
		position: relative;
		float: right;
	    top: 50%;
	    transform: translateY(-50%);
		a {
			color: #fff;
			margin: 0 25px;
		}
	}
}