#skills {
	.sub-section {
		.sub-section-content {
			span {
				display: inline-block;
				margin-right: 20px;

				svg {
					width: 60px;
					height: 60px;
				}

				@include breakpoint(tablet) {
					width: 120px;
					height: 120px;
				}
			}
		}
	}
}