/*Container */
.container{
	width: 100%;
	height: 100%;
	background: #f9f9f9;
}

/* Header */
.header-wrapper{
	height: 64px;
	left: 250px;
	right: 72px;
	top: 0;
	z-index: 2;
	position: fixed;
}

.header-title{
	font-size: 24px;
	line-height: 64px;
	width: 100%;
	color: #fff;
	font-weight: 400;
	margin: 0 auto;
}

/* Nav - Hamburger */
.hamburger-button{
	background-image: url("http://material-design.storage.googleapis.com/images/hamburger.svg");
	left: 12px;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	border: 0;
	display: block;
	height: 48px;
	/* overflow: hidden; */
	text-indent: -9999px;
	top: 8px;
	width: 48px;
	z-index: 6;
	position: fixed;
}

/* Side nav */
#side-nav {
	display: none;
	background: #fff;
	left: 0;
	position: fixed;
	top: 0;
	width: 240px;
	z-index: 4;
	height: 100%;
}

#side-nav #logo {
	border-bottom: 1px solid #e0e0e0;
	display: block;
	height: 64px;
	margin: auto;
	padding: 12px 24px 10px 24px;
	position: relative;
}

#side-nav nav {
	font-size: 13px;
	padding: 12px 0 10px 0;
}

#side-nav nav dl dt {
	border-left: 2px solid transparent;
	color: #333;
	font-weight: 700;
	margin-top: 0;
	padding: 15px 0 15px 22px;
}

#side-nav nav a{
	border-left: 2px solid transparent;
	display: block;
	font-weight: 400;
	letter-spacing: 0.1px;
	padding: 10px 24px 10px 46px;
}

#side-nav nav a.nav_selected {
	color: #03a9f4;
}

.side-nav-wrapper {
	min-height: 100%;
	padding-bottom: 96px;
	position: relative;
}

.side-nav-wrapper .legal {
	border-top: 1px solid #e0e0e0;
	bottom: 0;
	color: #212121;
	font-size: 13px;
	height: 96px;
	line-height: 24px;
	padding: 24px;
	position: relative;
}

.side-nav-wrapper .copyright {
	margin: 0;
}

/* Content */
.content{
	background: #f9f9f9;
	float: left;
	padding-bottom: 100px;
	padding-left: 0px;
	width: 100%;
}

#data{
	width: 100%;
	height: 300px;
}

.chapter .chapter-title {
	color: #03a9f4;
	font-size: 34px;
	font-weight: 400;
	line-height: 40px;
	margin-bottom: 30px;
}

.chapter-content{
	font-size: 15px;
	line-height: 32px;
	margin-bottom: 0;
	padding: 0 38px 40px 0;
}

.chapter .chapter-toc {
	border-left-color: #b3e5fc;
	border-left: 5px solid;
	padding-left: 20px;
}

.chapter .chapter-toc h1 {
	font-size: 15px;
	line-height: 16px;
	padding-bottom: 12px;
	font-weight: 400;
	color: #757575;
}

.chapter .chapter-toc ul {
	list-style: none;
	margin-top: 0;
	padding-left: 0;
}

.chapter .chapter-toc li {
	font-size: 20px;
	line-height: 40px;
}

body .chapter a {
	color: #03a9f4;
}

.chapter .article-title {
	border-top: 1px solid rgba(0,0,0,0.12);
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	margin-bottom: 30px;
	color: #03a9f4;
	padding-top: 48px;
}