html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-size: 1em;
	font-family: 'Fira Sans', sans-serif;
}

a {
	text-decoration: none;
}

dl {
	line-height: 1em;
}

dl dd {
	margin: 0;
}

footer{
	clear: left;
	height: 10%;
	position: relative;
	width: 100%;
}